body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(241, 239, 227) ;
  }
  /* unang header */
.header-1 h1 {
    padding: 10px 16px;
    background: rgb(221, 183, 148);
    color: #fcdfb9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    
  }
